.wrapper{
    height: 90vh;
}
/* Utility_Classes */
.text_white{
    color: white;
}
.text_grey {
    color: #717171;
}
.bg_darkblue{
    background-color:#080b12eb;;
}
.bg_blue{
background-color: #151922

}
.fs_12{
    font-size: 12px;
}

.fs_13{
    font-size: 13px;
}

.pl_15{
    padding-left: 15px;
}


ul{
    list-style:none;
    padding: 0;
}
li{
    text-decoration: none;
}

/* /Utility_Classes */

/* Side_Bar */
.side_bar{
    width: 300px;
    height: 100%;
    background-color: black;
}
.side_bar .text_grey:hover{
    color: white;
}

/* Navbar */
.logo{
    height: 30px;
}

.symbol{
    height: 20px;
}


.nav_link{
    text-decoration: none;
    vertical-align: middle;
}
/* /Navbar */

/* Playlist */
.grey_square{
    height: 40px;
    width: 40px;
    background-color: grey;
    display: inline-block;
    position: relative;
}

.fas.fa-plus{
    color: black;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* /Playlist */
/* Side_Bar Botto */
img.download{
    height: 15px;
}

.install::after{
    content: "";
    width: 80%;
    height: 1px;
    background-color: white;
    display: block;
    margin: 5px 0;
}


/* /Side_Bar Botto */




/* /Side_Bar */
/* Main_Pannel */
.main_pannel{
    width: 100%;
    height: 90vh;
}

.button_label{
    width: 100%;
    height: 10vh;
    position: fixed;
}
/* /Main_Pannel */
/* Player_Bar */
.player_bar{
    width: 100%;
    height: 10vh;
    background-color: grey;
}
/* /Player_Bar */






