.wrapper{
    height: calc(100vh - 75px);
    width: 100vw;
}

/* Utility_Classes */
.text_white{
    color: white;
}
.text_grey {
    color: #717171;
}
.bg_darkblue{
    background-color:#080b12eb;
}
.bg_blue{
    background-color: #151922;
}

.fs_12{
    font-size: 12px;
}
.fs_13{
    font-size: 13px;
}
.fs_15{
    font-size: 15px;
}

.pl_15{
    padding-left: 15px;
}



ul{
    list-style:none;
    padding: 0;
}
li{
    text-decoration: none;
}

/* /Utility_Classes */

/* Side_Bar */
.side_bar{
    width: 200px;
    height: calc(100vh - 75px);
    background-color: black;
}
a:hover{
    color: white;
    text-decoration: none;
}

.small_navbar,
.small_logo{
    display: none;
}
.small_sidebar_bottom{
    display: none;
}

/* Navbar */
.logo{
    height: 30px;
}

.symbol{
    height: 20px;
}
.sidebar_bottom .symbol{
    background-color: grey;
}

.nav_link{
    text-decoration: none;
    vertical-align: middle;
}
.brand{
    display: inline-block;
    height:60px;
}

.nav_bar li:first-child {
    position: relative;
}
.nav_bar li:first-child:before {
    content:'';
    display: block;
    background-color: #adf62f;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
}
/* /Navbar */

/* Playlist */
.grey_square{
    height: 40px;
    width: 40px;
    background-color: grey;
    display: inline-block;
    position: relative;
}

.fas.fa-plus{
    color: black;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ************************************ */
.playlist{
    /* height: 100%; */
    overflow-y: hidden;
}
/* *********************************** */
.play_list{
    min-height: 180px;
    height: calc(100vh - 400px);
    overflow-y: auto;
}
/* /Playlist */
/* Side_Bar Botto */
img.download{
    height: 10px;
}

.install::after{
    content: "";
    width: 80%;
    height: 1px;
    background-color: white;
    display: block;
    margin: 5px 0;
}


/* /Side_Bar Bottom */

/* /Side_Bar */
/* Main_Pannel */
.main_pannel{
    width: calc(100% - 200px);
    padding-top: 60px;
    overflow-y: auto;
}

/* UPGRADE */
.button_label{
    height: 75px;
    width: calc(100vw - 200px);
    position: fixed;
    top: 0;
    z-index: 1;
}
.upgrade:hover{
    transform: scale(1.2);
    color: white;
}
/* /UPGRADE */


/* FILTERS */
.filters_bar a{
    flex-basis: 100%;
}

.filters_bar li:first-child a {
    position: relative;
}
.filters_bar li:first-child a::after {
    content:'';
    display: block;
    background-color: #adf62f;
    height: 2px;
    width: 40px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}
/* /FILTERS */

.song_link{
  position: relative;  
}
#popolari .song_link{
    display: block;
    border-radius: 50%;
}
.overlay{
    background-color: #000000a1;
    display: none;
    position: absolute;
    top: 0;
}
.main_pannel .far.fa-play-circle{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.song_link:hover .overlay{
    display: block;
}
.lana, .einaudi{
    border-radius: 50%;
}

/* /Main_Pannel */
/* Player_Bar */
#player_bar{
    width: 100%;
    height: 75px;
    background-color: #282828;
}

#footer a.text_grey:hover{
    color: white;
    text-decoration: none;
}
/* *********************** */
.left_player{
    display: flex;
    align-items: center;
}
.left_icons{
    display: flex;
    align-items: center;
}
/* ******************************** */
.right_player{
    display: flex;
    align-items: center;
    justify-content: end;
}

.song_playing{
    height: 40px;
    width: 40px;
}

.play_icon{
    font-size: 30px;
}

#progress_bar {
    background-color: #565656;
    height: 2px;
    width: 70%;
}
#progress_bar:hover .slider {
    background-color: #adf62f;
}
#progress_bar:hover .slider_handle {
    display: block;
}
.slider {
    background-color: #bdadbdbd;
    position: relative;
}
.slider_handle {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: none;
    background-color: white;
    height: 10px;
    width: 10px;
}

#volume_bar {
    background-color: #565656;
    height: 2px;
    width: 80px; 
}
#volume_bar:hover .slider {
    background-color: #adf62f;
}
#volume_bar:hover .slider_handle {
    display: block;
}   

/* /Player_Bar */
@media screen and (max-width:991.98) {
    #player_bar .left_icons{
        flex-direction: column;
    }
}

@media screen and (max-width:767.98px) {
    .main_pannel{
        width:calc(100% - 200px) ;
    }
    .button_label{
        width:calc(100% - 200px) ;
    }
    .left_player,
    .right_player{
        display: none;
    }
    
}
@media screen and (max-width:575.98px) {
    .side_bar{
        width: 40px;
    }
    .main_pannel{
        width:calc(100% - 40px);
    }
    .button_label{
        width:calc(100% - 40px);
    }

    .nav_bar,
    .playlist,
    .sidebar_bottom{
        display: none;
    }

    .small_logo,
    .small_navbar{
        display: block;
    }
    .small_sidebar_bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .small_icons{
        height: 30px;
        width: 30px;
        object-fit: contain;
    }
    img.download{
        height: 20px;
    }
    .small_sidebar_bottom img.profile{
        background-color: grey;
    }

    .left_player,
    .right_player{
        display: none;
    }
}
